@font-face {
	font-family: "Segoe UI", sans-serif;
	font-size: normal;
	line-height: normal;
	src: url('../fonts/segoeui.woff') format('woff');
}

@font-face {
	font-family: "Poppins", sans-serif;
	font-size: normal;
	line-height: normal;
	src: url('../fonts/poppins.woff') format('woff');
}

@font-face {
	font-family: "Baskerville Old Face", sans-serif;
	font-size: normal;
	line-height: normal;
	src: url('../fonts/baskerville.woff') format('woff');
}