.header {
	@include flex(row, center);

	position: relative;

	margin  : 0 auto;
	width   : $main-unit;
}

.header__item {
	margin   : 50-21px 0 50-12px;
	min-width: 250px;
}

.header__item--logo {
	margin-right: auto;
}

.header__item--logo .logo {
	position   : relative;

	margin-top : 25px;
	margin-left: -88px;

	&::after {
		position: absolute;
		bottom       : 6px;
		left         : 113px;

		display      : block;

		width        : 8px;
		height       : 8px;

		content      : "";

		border-radius: 50%;
		background   : #f00;
	}
}

.header__item--user-menu {
	margin-left: auto;
}