// sizes and indents
$main-unit: 1170px;

// fonts
$main-font-family                    : "Segoe UI", "Arial", sans-serif;
$main-font-size                      : 15px;
$main-line-height                    : 1;

$accent-font-family                  : "Poppins", "Arial", sans-serif;
$logo-font-family                    : "Baskerville Old Face", serif;


// color
$main-text-color       : #000000;
$main-color-background : #ffffff;
$main-slider-background: #000000;
$active-text-color     : #ff0000;

//mixin
@mixin flex($f-direction, $f-justify) {
	display        : flex;
	flex-direction : $f-direction;
	justify-content: $f-justify;
}

@mixin font($f-family, $f-size, $f-weight, $f-height, $f-color) {
	font-family: $f-family;
	font-size  : $f-size;
	font-weight: $f-weight;
	line-height: $f-height;
	color      : $f-color;
}
